! Set a nice font
urxvt.font: xft:terminus:size=10
urxvt*letterSpace: -5

!scrollback (scrollable history)
xterm*savelines: 2048
urxvt.saveLines: 2048
! Don't scroll with output
urxvt*scrollTtyOutput: false
! Scroll in relation to buffer
urxvt*scrollWithBuffer: true
! Scrollback to botom on keypress
urxvt*scrollTtyKeypress: true
! Disable urxvt scrollback in less and vim (use builtin scrollback)
urxvt*secondaryScreen: 1
urxvt*secondaryScroll: 0
! Remove scrollbar
urxvt*scrollBar: false

!Set every shell to be a login shell
xterm*loginshell: true
urxvt.loginShell: True

! Double cliclick a word to mark it
xterm*charClass: 33:48,35:48,43:48,45-47:48,64:48,126:48
urxvt*cutchars: "`\"'&()*,:;<=>?[\\]^{|}$"


! Transparancy

! URxvt*depth: 32
! URxvt*background: rgba:0000/0000/0200/c800
urxvt*transparent: true
urxvt*shading: 20


! Colours
urxvt*background: #002b36
urxvt*foreground: #657b83

!!*fading: 40
!*fadeColor: #002b36
urxvt*CursorColor: #cfcfc2
urxvt*pointerColorBackground: #232629
urxvt*pointerColorForeground: #cfcfc2

!!Black
urxvt*color0: #2a2e32
urxvt*color8: #31363b

!! red
urxvt*color1: #c0392b
urxvt*color9: #f44f4f

!! green
urxvt*color2: #218058
urxvt*color10: #27ae60

!! yellow
urxvt*color3: #fdbc4b
urxvt*color11: #fca103

!! blue
urxvt*color4: #2980b9
urxvt*color12: #0099ff

!! magenta
urxvt*color5: #8e44ad
urxvt*color13: #af81ff

!! cyan
urxvt*color6: #27aeae
urxvt*color14: #31dddd

!!white
urxvt*color7: #acada1
urxvt*color15: #cfd0c2

!! Default browser
urxvt*urlLauncher: chromium

!! encoding 
urxvt.keysym.Home: \033[1~
urxvt.keysym.End: \033[4~
urxvt.keysym.KP_Home: \033[1~
urxvt.keysym.KP_End: \033[4~

! Pearl Extensions
urxvt.perl-ext-common: default,resize-font
